@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #232323;
}

h1{
    color: white;
}
.content{
    margin:0 auto;
    max-width: 600px;
}

.square{
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
    border-radius:10px
}